.form__field {
    position: relative;
    padding: 1.5rem 0;
    margin-top: 1rem;
    width: 100%;
  }
  
  .form__field__input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: .2rem solid rgba(255,255,255,.5);
    outline: 0;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    padding: .7rem 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field__input::placeholder {
    color: transparent;
  }
  .form__field__input:placeholder-shown ~ .form__field__label {
    font-size: 3rem;
    cursor: text;
    bottom: 35%;
  }
  
  .form__field__label {
    position: absolute;
    bottom: 85%;
    display: block;
    transition: 0.2s;
    font-size: 2rem;
    color: rgba(255,255,255,.5);
  }
  
  .form__field__input:focus {
    padding-bottom: .6rem;
    font-weight: 700;
    border-width: 3px;
    border-color: #765cff;
  }
  .form__field__input:focus ~ .form__field__label {
    position: absolute;
    bottom: 85%;
    display: block;
    transition: 0.2s;
    font-size: 3rem;
    color: #765cff;
    font-weight: 700;
  }
  
  .form__field__input:required, .form__field__input:invalid {
    box-shadow: none;
  }

  
  
  .form__button {
    border: .1rem solid rgba(255,255,255,.5);
    background: none;
    padding: 2rem 3rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #fff;
    transition: .25s ease-in-out;
    float: right;
  }
  .form__button:disabled {
    border: .1rem solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.3);
  
  }
  .form__button:not([disabled]):hover {
    border-color: rgba(255,255,255,1);
  }


  .radio {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .radio:focus-within .radio__label {
    /*transform: scale(1.05);*/
    opacity: 1;
  }
  
  .radio__label {
    line-height: 1;
    transition: 180ms all ease-in-out;
    opacity: 0.8;
  }
  
  .radio__input {
    display: flex;
  }
  .radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-gradient input:checked + .radio__control {
    background: radial-gradient(#765cff 50%, rgba(255, 0, 0, 0) 51%);
  }
  
  .radio-before .radio__control {
    display: grid;
    place-items: center;
  }
  .radio-before input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em #765cff;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }
  .radio-before input:checked + .radio__control::before {
    transform: scale(1);
  }
  
  .radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid #765cff;
    transform: translateY(-0.05em);
  }

  .error-text {
    color: #ff6a5c;
  }